CompileFlags:
  Add:
    - "-isystem"
    - "C:/msys64/mingw64/include/c++/15.1.0"
    - "-isystem"
    - "C:/msys64/mingw64/include/c++/15.1.0/x86_64-w64-mingw32"
    - "-isystem"
    - "C:/msys64/mingw64/include"
    - "-isystem"
    - "C:/msys64/mingw64/lib/gcc/x86_64-w64-mingw32/15.1.0/include"
